<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Schedule Visualizer</title>
<link rel="stylesheet" href="{{ stylesheet_url }}">
</head>
<body>

<div class="schedule">
    <div class="timecol">
        <div class="header">Times</div>
        <div class="time hour" style="top: 7%;">7 - 8 AM</div>
        <div class="time hour" style="top: 13.2%;">8 - 9 AM</div>
        <div class="time hour" style="top: 19.4%;">9 - 10 AM</div>
        <div class="time hour" style="top: 25.6%;">10 - 11 AM</div>
        <div class="time hour" style="top: 31.8%;">11 - 12 PM</div>
        <div class="time hour" style="top: 38%;">12 - 1 PM</div>
        <div class="time hour" style="top: 44.2%;">1 - 2 PM</div>
        <div class="time hour" style="top: 50.4%;">2 - 3 PM</div>
        <div class="time hour" style="top: 56.6%;">3 - 4 PM</div>
        <div class="time hour" style="top: 62.8%;">4 - 5 PM</div>
        <div class="time hour" style="top: 69%;">5 - 6 PM</div>
        <div class="time hour" style="top: 75.2%;">6 - 7 PM</div>
        <div class="time hour" style="top: 81.4%;">7 - 8 PM</div>
        <div class="time hour" style="top: 87.6%;">8 - 9 PM</div>
        <div class="time hour" style="top: 93.8%;">9 - 10 PM</div>
    </div>
    {% for day in days %}
    <div class="day">
        <div class="header">{{ day.name }}</div>
        {% for class in day.classes %}
        <div class="class" style="top: {{ class.top }}%; height: {{ class.height }}%">{{ class.name }}</div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

</body>
</html>