/** {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}*/

#page-container {
    max-width: 900px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#selectors {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

.schedule {
    display: flex;
    flex-direction: row;
    height: 800px;

    margin-top: 5%;
    margin-bottom: 5%;

    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.timecol {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    position: relative;
    width: 10%;
}

.day {
    /*padding-left: 1%;
    padding-right: 1%;*/
    border: 1px solid black;
    position: relative;
    width: 18%;
}

.class, .time {
    /*margin-top: 5px;
    margin-bottom: 5px;*/
    margin-left: 5%;
    margin-right: 5%;

    width: 90%;
    min-width: 90%;

    outline: 1px solid black;    
    text-align: center;
}

.class {
    position: absolute;
    overflow: auto;
}

.time {
    background-color: lightslategray;
    position: absolute;

    width: auto;
    height: 5%;

    /*margin-top: 10%;
    margin-bottom: 0%;*/
}

.header {
    height: 5.8%;
    min-height: 5.8%;

    width: auto;
    text-align: center;
    border-bottom: 1px solid black;
}